@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #222;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
    transition: color .2s ease-in-out;
}
nav{
    background-color: #efefef;
    margin: 1rem 3%;
    border-radius: 1rem;
    position: sticky;
    top: 1rem;
    padding: 5px 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #222;
    box-shadow: 0 0 40px rgba(0, 0, 0, .4);
}
nav ul{
    list-style: none;
}
nav ul a{
    color: #222;
}
nav ul a:hover{
    color: #06f;
}
#logo a{
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.bold{
    font-weight: 500;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    width: 30%;
    border: 1px solid #06f;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}
.title{
    font-size: 1.5rem;
}